In [1]:
#1. Import the necessary libraries
import pandas as pd
import numpy as np

In [2]:
#2. Import the dataset from this address.
#3. Assign it to a variable called chipo.
chipo=pd.read_csv(r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

In [3]:
#4. See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
# 5. What is the number of observations in the dataset?
chipo.shape

(4622, 5)

In [5]:
#6. What is the number of columns in the dataset?
len(chipo.columns)

5

In [6]:
# 7. Print the name of all the columns.
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
#  8. How is the dataset indexed?
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [8]:
#9. Which was the most-ordered item?
chipo['item_name'].value_counts().idxmax()

'Chicken Bowl'

In [9]:
# 10. For the most-ordered item, how many items were ordered?
chipo['item_name'].value_counts().max()

726

In [10]:
#11. What was the most ordered item in the choice_description column?
chipo['choice_description'].value_counts().idxmax()

'[Diet Coke]'

In [11]:
#12. How many items were ordered in total?
chipo['quantity'].sum()

4972

In [12]:
#13.a. Check the item price type
print(type(chipo['item_price']))
chipo.info()

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [13]:
#13.b. Create a lambda function and change the type of item price
chipo['item_price']=chipo['item_price'].apply(lambda x: x.replace("$","")).astype(float)

In [14]:
chipo['item_price']=chipo['item_price'].astype("float")

In [15]:
# 13.c. Check the item price type
type(chipo['item_price'])

pandas.core.series.Series

In [16]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [17]:
#14. How much was the revenue for the period in the dataset?
chipo['total_item_cost']= chipo['quantity'] * chipo['item_price']
chipo['total_item_cost']

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: total_item_cost, Length: 4622, dtype: float64

In [18]:
#Total Revenue 
chipo['total_item_cost'].sum()

39237.02

In [19]:
#15. How many orders were made in the period?
len(chipo['order_id'])

4622

In [20]:
#16. What is the average revenue amount per order?
chipo['item_price'].mean()

7.464335785374297

In [21]:
#17. How many different items are sold?
print(len(chipo['item_name'].unique()))
print((chipo['item_name'].unique()))

50
['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' 'Steak Salad Bowl'
 '6 Pack Soft Drink' 'Chips and Tomatillo-Red Chili Salsa' 'Bowl'
 'Burrito' 'Crispy Tacos' 'Carnitas Crispy Tacos' 'Steak Salad'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']